:root {
    --principal-color: #0991ff;
    --secondary-color: #62ccfd;
    --light-gray: #cccccc;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    list-style-type: none;
}

body,
footer {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

header {
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 100%;
    padding: 1rem;
    box-shadow: 0 0 8px var(--light-gray);
    /*top: 0;
    position: fixed;
    z-index: 1;*/
    /*background-color: #b7e5fa;*/
}

.banner-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 5px;
    margin-right: 5px;
}

.banner-container img {
    display: flex;
    height: 100px;
}

.banner-container h1 {
    font-size: 38px;
}

.banner-find {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    margin-right: 2%;
    gap: 5%;
}

.banner-find i {
    font-size: 24px;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid var(--light-gray);
    border-radius: 20px;
    font-style: italic;
}

.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0px 30px;
    margin-top: 25px;
}

#navbar-menu,
.navbar label,
#navbar-login {
    display: none;
}

.navbar-list {
    display: flex;
    flex-direction: row;
}

.navbar-list a {
    font-size: 20px;
    font-weight: 400;
    color: gray;
    padding: 0 30px;
}

.navbar-list a:hover {
    color: #000000;
    font-weight: 500;
}

.navbar i {
    font-size: 30px;
}

.navbar i:hover {
    font-weight: 100;
}


@media screen and (max-width:1125px) {
    .navbar-list{
        display: none;
    }

    #navbar-login {
        display:flex;
    }

    .navbar-list a {
        color: white;
    }

    .navbar-list a:hover {
        color: white;
        font-weight: 600;
    }

    #login-icon {
        display: none;
    }

    .navbar label {
        display: block;
    }

    #navbar-menu:checked ~ .navbar-list {
        display: flex;
        position: absolute;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        top: 200px;
        left: -100%;
        width: 40%;
        height: 100vh;
        background: var(--secondary-color);
        transition: left 0.3s;
    }

    #navbar-menu:checked ~ .navbar-list {
        left: 0;
    }
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#bttn {
    border-radius: 10px;
    padding: 12px;
    font-size: 18px;
    font-weight: 400px;
}

.hero {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    margin-top: 3%;
    margin-bottom: 5%;
    background-image: url(./img/beach-reads-hero.jpg);
    background-size: cover;
    background-position: center;
    height: 600px;
    /*background-color: rgb(255 244 228);*/
    padding: 1rem;
}

.hero-info {
    display: flex;
    flex-direction: column;
    width: 20%;
}

.hero-info h2 {
    font-size: 48px;
    margin-bottom: 25px;
}

.hero-info a {
    background-color: var(--secondary-color);
    color: white;
    font-size: 24px;
    text-align: center;
    font-weight: 600;
}

.hero-info a:hover {
    background-color: var(--principal-color);
    font-weight: 600;
}

/*ABOUT*/

.about {
    display: flex;
    flex-direction: column;
    width: 80%;
    padding: 2rem;
}

.about h3 {
    color: var(--principal-color);
    margin-bottom: 25px;
}

.about-purpose {
    display: flex;
    flex-direction: row;
}

.about-purpose img {
    width: 20%;
}

.about-mission {
    display: flex;
    flex-direction: row-reverse;
    margin-top: 2%;
    margin-bottom: 2%;

}

.about-mission img {
    width: 30%;
}

.about-location {
    display: flex;
    justify-content: space-between;
}

.about-contact {
    display: flex;
    flex-direction: column;
    margin-top: 2%;
    gap: 15px;
}

.about-mission,
.about-purpose,
.about-location {
    align-items: flex-start;
    border: 2px dotted var(--principal-color);
    padding: 1rem;
    gap: 20px;
}

.about-mission h4,
.about-purpose h4,
.about-location h4 {
    font-size: 24px;
    margin-bottom: 5%;
}

.about-mission p,
.about-purpose p {
    font-size: 18px;
    color: gray;
    text-align: justify;
}

.about-contact a {
    background-color: var(--secondary-color);
    color: white;
    text-align: center;

}


/*NOVEDADES*/

.releases {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    gap: 2rem;
    width: 100%;
    background: linear-gradient(90deg, var(--principal-color) 0%, var(--secondary-color)35%, rgba(238, 244, 245, 1) 100%);
}


h3 {
    font-size: 24px;
    color: white;
    font-weight: 600;
}

.release-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex-direction: row;
    width: 100%;
}

#release-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding: 1rem;
}

#release-card img {
    width: auto;
    height: 350px;
}

#release-card p {
    margin-top: 15px;
    font-family: Roboto, sans-serif;
    font-size: 14px;
}

#release-card p span {
    font-weight: 600;
    color: var(--principal-color);
}

#release-card a,
.news-principal a {
    margin-top: 14px;
    background-color: var(--secondary-color);
    color: white;
    font-size: 14px;
}

#release-card a:hover,
.news-principal a:hover,
.about-contact a:hover {
    background-color: var(--principal-color);
    font-weight: 600;
}

/*SUSCRIPCION*/

.newsletter {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap; /*quitar*/
    align-content: center;
    padding: 2rem;
    width: 100%;
    background-color: gray;
    gap: 10px
}

.newsletter i {
    font-size: 64px;
    color: white;
}

.newsletter p {
    color: white;
}

.newsletter input {
    width: 50%;
}

.newsletter input::placeholder {
    font-style: italic;
}

.newsletter a {
    background-color: white;
    color: var(--secondary-color);
}

.newsletter a:hover {
    color: var(--principal-color);
    font-weight: 600;
    box-shadow: 1px 1px 3px var(--principal-color);
}

/*NEWS*/

.news {
    display: flex;
    flex-direction: row;
    padding: 2rem;
    width: 100%;
}

.news h3 {
    color: var(--principal-color);
}

.news-principal {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 60%;
}

.news-principal-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    text-align: center;
    width: 50%;
}

.news-principal-info h4 {
    font-size: 32px;
}

.news-principal-info p {
    color: gray;
}

.news-principal img {
    width: 40%;
}

.news-cards {
    display: flex;
    flex-direction: column;
    width: 40%;
}

.news-cards a {
    color: black;
}

.news-cards a:first-child {
    font-size: 16px;
    text-align: end;
    color: var(--principal-color);
    text-decoration: underline;
}

#news-card {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#news-card a {
    font-size: 14px;
}

#news-card a:hover {
    font-weight: 800;
    color: var(--principal-color);
}

#news-card img {
    width: 28%;
    padding: 1rem;
}

/*FOOTER*/

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    gap: 10px;
    background-color: var(--secondary-color);
}

footer h3 {
    margin-right: 15px;
}

.footer-social,
.social {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.social a {
    color: white;
    font-size: 24px;
}

.footer-legal p {
    font-size: 12px;
    text-align: center;
}