@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    list-style-type: none;

    --line-color: rgb(158, 157, 157);
    --principal-color: #0991ff;
}

.login-header {
    display: flex;
    height: 100px;
    width: 100%;
}

.login-header i {
    font-size: 48px;
    color: black;
    padding: 2rem;
}

.login-header i:hover {
    color: var(--principal-color);
}

.login {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
    width: 60%;
    margin: auto;
    gap: 100px;
}

#logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
    margin-right: 20px;
}

#logo img {
    width: 300px;
    height: auto;
}

#logo h1 {
    font-size: 24px;
}

.login-info {
    width: 40%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.login-info h2 {
    font-size: 48px;
    color: var(--principal-color);
}

.social-login {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

#social-login {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 10px;
    border: 2px solid var(--line-color);
    border-radius: 5px;
}

#social-login img {
    width: auto;
    height: 35px;
    margin-right: 10px;
    margin-left: 20px;
    margin-top: auto;
    margin-bottom: auto;
}

#social-login a {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 16px;
    color: black;
}

#social-login a:hover {
    font-weight: 500;
}

.divider {
    position: relative;
}

.divider::before,
.divider::after {
    content: '';
    position: absolute;
    top: 50%;
    width: 50%;
    height: 0.5px;
    background-color: var(--line-color)
}

.divider::before {
    left: -10px;
}

.divider::after {
    right: -10px;
}

.input-login {
    width: 100%;
    display: inline-block;
    text-align: center;
}

.login a {
    font-size: 12px;
    margin-top: 12px;
    margin-bottom: 12px;
}

.fa-solid,
.fa-sharp {
    margin-top: 10px;
    color: var(--line-color);
}

.input-login input i {
    margin-top: 10px;
    position: absolute;
}

input[type=text] {
    color: #979797;
    font-style: italic;
    height: 28px;
    padding-left: 10px;
    border: none;
    border-block-end: 0.5px solid;
}

#action-btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--principal-color);
    width: 150px;
    height: 40px;
    border-radius: 20px;
    color: white;
    font-weight: 400px;
    font-size: 24px;
}

#action-btn:hover {
    background-color: white;
    border-style: solid;
    border-radius: 20px;
    color: var(--principal-color);

}

@media (max-width: 700px) {
    .login {
        flex-direction: column;
        gap: 0;
    }

    #logo {
        flex-direction: row;
    }

    #logo img {
        width: 70px;
        height: auto;
        margin-right: 15px;
    }

    .login-info h2 {
        font-size: 24px;
    }

    #social-login img {
        display: contents;
    }

    .input-login {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .input-login input::placeholder {
        text-align: center;
    }
}

@media (max-width: 300px) {
    #social-login {
        border: none;
    }
}